@import './../abstracts/variables';
@import './../abstracts/breakpoints';

.card-action-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $white-color;
  .card-row {
    display: flex;
    justify-content: space-between;
    .card-col {
      width: 100%;
      text-align: center;
      height: 100%;
      color: $white-color;
      padding: 8px 10px;
      &.red-color {
        background-color: $secondary;
      }
      &.pink-color {
        background-color: $error;
      }
      &.green-color {
        background-color: $success;
      }
      &.grey-color {
        background-color: $dark;
      }

      .k-icon {
        font-size: 24px;
      }
    }
  }
}
@include media($laptop-landscape-mode...) {
  .card-action-buttons {
    position: fixed;
    top: 72px;
    right: 0px;
    z-index: 99;
    left: auto;
    bottom: 0;
    width: auto;
    background-color: transparent;
  }
  .card-action-buttons .card-row {
    display: flex;
    flex-direction: column;
  }
  .card-action-buttons .card-row {
    display: flex;
    justify-content: space-between;
  }
  .card-action-buttons .card-row .card-col {
    width: 60%;
    text-align: center;
    height: 100%;
    color: $white-color;
    padding: 13px 11px;
  }
  .push-page {
    left: -31px;
    margin: 0 14px 0 31px;
    position: relative;
  }
}
